graphite:
  host: graphite.eqiad.wmnet
  port: 2003

reports:
  template_wizard_opens:
    granularity: days
    starts: 2021-01-16
    type: hive
    lag: 18000
    funnel: true
    execute: hive/template_wizard_opens
    graphite:
      path: "{_metric}.byEditCount.{edit_count_bucket}.byWiki.{wiki}"
      metrics:
        MediaWiki.TemplateWizard.open: template_wizard_opens

  template_wizard_exits:
    granularity: days
    starts: 2021-01-16
    type: hive
    lag: 18000
    funnel: true
    execute: hive/template_wizard_exits
    graphite:
      path: "{_metric}.byEditCount.{edit_count_bucket}.byWiki.{wiki}"
      metrics:
        MediaWiki.TemplateWizard.save: save
        MediaWiki.TemplateWizard.abort: abort
