## Configuration for grabbing datasets on page creation events
## for all wikis, as well as some events related to ACTRIAL.
## Ref: https://phabricator.wikimedia.org/T170850

databases:
    dbstore:
        host: "analytics-slave.eqiad.wmnet"
        port: 3306
        creds_file: /etc/mysql/conf.d/stats-research-client.cnf
        db: log

defaults:
    db: dbstore

reports:
    pagecreations:
        granularity: days
        starts: 2017-07-21
        lag: 3600
        explode_by:
           wiki_db: all_dbs.txt

    pagecreations_main:
        granularity: days
        starts: 2017-07-21
        lag: 3600 # this can wait an hour
        explode_by:
            wiki_db: all_dbs.txt

    pagecreations_main_noredirects:
        granularity: days
        starts: 2017-07-21
        lag: 3600 # this can wait an hour
        explode_by:
            wiki_db: all_dbs.txt

    pagecreations_main_bots:
        granularity: days
        starts: 2017-07-21
        lag: 3600 # this can wait an hour
        explode_by:
            wiki_db: all_dbs.txt

    ## Page creation events relevant to ACTRIAL
    pagecreations_main_autopatrolled:
        granularity: days
        starts: 2017-07-21
        lag: 3600 # this can wait an hour
        explode_by:
            wiki_db: enwiki

    pagecreations_main_autoconfirmed:
        granularity: days
        starts: 2017-07-21
        lag: 3600 # this can wait an hour
        explode_by:
            wiki_db: enwiki

    pagecreations_main_non-autoconfirmed:
        granularity: days
        starts: 2017-07-21
        lag: 3600 # this can wait an hour
        explode_by:
            wiki_db: enwiki

    pagecreations_draft:
        granularity: days
        starts: 2017-07-21
        lag: 3600 # this can wait an hour
        explode_by:
            wiki_db: enwiki
